<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>
<body>
    <div class="container-narrow">
        <div class="page-header">
            {% include header.html %}
        </div>
    
        <div class="content">
            <div class="row-fluid">
                <div class="span9">
                {{ content }}
                </div>
                <div class="span3">
                {% include sidebar.html %}
                </div>
            </div>
        </div>
        <div class="page-header">
            {% include footer.html %}
        </div>
    </div>
</body>